<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div>
    <form>
        <div class="form-row">

            <div class="form-group col-lg-5 col-md-12 m-4">
                <select id="left-valute" class="form-control" onchange="Convert(this)">
                    {{#each Valute}}
                    <option value="{{Value}}">{{Name}}</option>
                    {{/each}}
                </select>
                <input id="left-text" class="form-control" value="0" placeholder="100" oninput="Convert(this)">
            </div>

            <div class="form-group col-lg-5 col-md-12 m-4">
                <select id="right-valute" class="form-control" onchange="Convert(this)">
                    {{#each Valute}}
                        <option value="{{Value}}">{{Name}}</option>
                    {{/each}}
                </select>
                <input id="right-text" class="form-control" value="0" placeholder="100" oninput="Convert(this)">
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="row">№</th>
                <th>Название</th>
                <th>Обозначение</th>
                <th>Курс к рублю</th>
                <th>Рубль к валюте</th>
            </tr>
        </thead>
        <tbody>
            {{#each Valute}}
                <tr>
                    <td>{{Nom}}</td>
                    <td>{{Name}}</td>
                    <td>{{CharCode}}</td>
                    <td>{{Value}}</td>
                    <td>{{DeValue}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    function Convert(val) {
        const lValute = document.getElementById("left-valute");
        const rValute = document.getElementById("right-valute");
        const lText = document.getElementById("left-text");
        const rText = document.getElementById("right-text");

        if (val == lValute || val == lText) {
            rText.value = (lText.value * lValute.value / rValute.value).toFixed(3);
        }
        else {
            lText.value = (rText.value * rValute.value / lValute.value).toFixed(3);
        }
    }
</script>